   .image-more{
    width: 120px;
   }
   .image-card {
        height:210px;
    }
    .desc-editor h2 {
        font-size: 22pt;
        color: rgb(220 38 38);
        font-weight: bold;
    }
    .desc-editor h3 {
        font-size: 16pt;
        font-weight: bold;
    }
    @media (max-width: 768px) {
        .desc-editor h2 {
            font-size: 16pt;
        }

        .desc-editor h3 {
            font-size: 14pt;
        }
    }
.desc-editor table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border: 1px solid #e2e8f0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.desc-editor th {
    padding: 12px 16px;
    text-align: center;
    font-weight: 600;
    background-color: brown;
    color: white;
    border: 1px solid #e2e8f0;
}

.desc-editor td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #e2e8f0;
}
.desc-editor table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}
.desc-editor th,
.desc-editor td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.desc-editor th {
    font-weight: 600;
    text-align: center;
    background-color: #7b2cbf;
    color: #fff;
}
.desc-editor tr:hover td {
    background-color: #d62323;
}
.desc-editor caption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    padding-top: 0.5rem;
    color: #6b7280;
}
@media (max-width: 640px) {
    .desc-editor th,
    .desc-editor td {
        padding: 8px 12px;
        font-size: 12px;
    }
}
