   .image-card {
        height:210px;
    }
    .desc-editor table {
        width: 100%;
        border-collapse: collapse;
        margin: 1rem 0;
        font-size: 15px;
        border: 1px solid #e2e8f0;
        border-radius: 8px;
    }

    .desc-editor th,
    .desc-editor td {
        padding: 12px 16px;
        text-align: left;
        border: 1px solid #e2e8f0;
    }

    .desc-editor th {
        font-weight: 600;
        text-align: center;
        background-color: brown;
        color: white;
    }


    .desc-editor h2 {
        font-size: 22pt;
        color: rgb(220 38 38);
        font-weight: bold;
    }

    .desc-editor h3 {
        font-size: 16pt;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        .desc-editor h2 {
            font-size: 16pt;
        }

        .desc-editor h3 {
            font-size: 14pt;
        }
    }