   .image-more{
    width: 120px;
   }
   .image-card {
        height:210px;
    }
    .desc-editor h2 {
        font-size: 22pt;
        color: rgb(220 38 38);
        font-weight: bold;
    }
    .desc-editor h3 {
        font-size: 16pt;
        font-weight: bold;
    }
    @media (max-width: 768px) {
        .desc-editor h2 {
            font-size: 16pt;
        }

        .desc-editor h3 {
            font-size: 14pt;
        }
    }
.desc-editor table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border: 1px solid #e2e8f0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.desc-editor th {
    padding: 12px 16px;
    text-align: center;
    font-weight: 600;
    background-color: brown;
    color: white;
    border: 1px solid #e2e8f0;
}

.desc-editor td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #e2e8f0;
}
.desc-editor table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}
.desc-editor th,
.desc-editor td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.desc-editor th {
    font-weight: 600;
    text-align: center;
    background-color: #7b2cbf;
    color: #fff;
}
.desc-editor tr:hover td {
    background-color: #d62323;
}
.desc-editor caption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    padding-top: 0.5rem;
    color: #6b7280;
}
@media (max-width: 640px) {
    .desc-editor th,
    .desc-editor td {
        padding: 8px 12px;
        font-size: 12px;
    }
}


    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tab-btn {
        padding-bottom: 10px;
        font-weight: 600;
        color: #9ca3af;
        white-space: nowrap;
    }

    .tab-active {
        color: #fff;
        border-bottom: 2px solid #ef4444;
    }

    .scroll-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #9ca3af;
        /* semi-transparent overlay */
        border-radius: 9999px;
        padding: 12px;
        cursor: pointer;
        z-index: 20;
        transition: background 0.2s;
        font-size: 18px;
        color: white;
    }

    .scroll-arrow:hover {
        background: rgba(239, 68, 68, 0.8);
    }

    .scroll-arrow.left {
        left: -20px;
        /* half outside */
    }

    .scroll-arrow.right {
        right: -20px;
        /* half outside */
    }

    /* optional: hide arrows on mobile */
    @media (max-width: 1024px) {
        .scroll-arrow {
            display: none;
        }
    }

    
    .series-tab {
        padding: 6px 14px;
        border-radius: 9999px;
        color: #9ca3af;
        background: transparent;
        white-space: nowrap;
        transition: all .2s ease;
    }

    .series-active {
        background: #ef4444;
        color: #fff;
    }
